<div class="grid-container d-grid gap-5">
  <mat-card class="dashboard-card d-flex flex-column gap-4">
    <mat-card-header>
      <mat-card-title>
        Top Performers of the month
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      @if (loading()) {
        <app-spinner [loading]="loading()"></app-spinner>
      } @else {
        <mat-form-field>
          <mat-label>Month</mat-label>
          <mat-select [value]="selectedMonth()" (selectionChange)="selectMonth($event.value)">
            @for (month of months(); track month) {
              <mat-option  [value]="month">{{month}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>Card Content Here</div>
      }
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card d-flex flex-column gap-4" >
    <mat-card-header>
      <mat-card-title>
        Low In Stock
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-low-stock></app-low-stock>
    </mat-card-content>
  </mat-card>
</div>
