<div class="grid-container d-flex flex-wrap gap-5">
  <mat-card class="dashboard-card-performers d-flex flex-column gap-4">
    <mat-card-header>
      <mat-card-title>
        Top Performers of the month
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      @if (loading()) {
        <app-spinner [loading]="loading()"></app-spinner>
      } @else {
        <app-top-performers></app-top-performers>
      }
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card-low-stock d-flex flex-column gap-4" >
    <mat-card-header>
      <mat-card-title>
        Low In Stock
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <app-low-stock></app-low-stock>
    </mat-card-content>
  </mat-card>
</div>
